.card-about
    {
    	position: fixed;
    }


 .about-header
 {
 	font-color: #262F7D;
 }

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
    .card-about
    {
    	position: relative;
    }
}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
   
   .card-about
    {
    	position: relative;
    }

}
@media  (max-width: 480px) {
    
    .card-about
    {
    	position: relative;
    }

}